<div class="d-flex flex-column align-items-center border border-light mt-5">
  <div class="result mt-5">
    {{!-- 輸入相同網址時產生一樣的縮址 --}}
    {{#if url}}
    <h2 class="text-left">您輸入的網址已經產生過了哦 <i class="fas fa-arrow-circle-down"></i></h2>
    <div style="font-size: 30px; text-align:left;">
      <a href="{{ url.inputUrl }}" target="_blank" id="copyText">{{ url.outputUrl }}</a>
    </div>
    {{else}}
    {{#if inputUrl}}
    <h2 class="text-left">成功 ! 請使用這個連結 <i class="fas fa-arrow-circle-down"></i></h2>
    <div style="font-size: 30px; text-align:left;">
      <a href="{{ inputUrl }}" target="_blank" id="copyText">{{ newOutputUrl }}</a>
    </div>
    {{/if}}
    {{/if}}
  </div>

  <div class="buttons mt-5">
    <a href="/" class="btn btn-outline-primary">Back</a>
  </div>
</div>